{% extends 'base.html' %}
{% load static %}
{% block title %}Сайт ИСБ{% endblock %}
{% block content %}
{% load thumbnail %}

<div class="container mt-3">
    <br>
    <h2 class="text-center">Блог о нас</h2>
    <br>
    <div class="row container">
        <p class="fs-4 text-center">В блоге вы можете прочитать про нас</p>
    </div>
      <br><br>
    <h2 class="text-center">Блок 1</h2>
    <br>
    <div class="row container">
        <p class="fs-4 text-center">Информация о блоке 1
        Текст текст текст
        </p>
    </div>
</div>
<br><br>

{% endblock %}