{% extends 'base.html' %}
{% load static %}
{% block title %}Сайт ИСБ{% endblock %}
{% block content %}
{% load thumbnail %}

<div class="container mt-3">
    <br>
    <h2 class="text-center">Контакты</h2>
    <br>
    <div class="row container">
        <p class="fs-4 text-center">Клиентам нашего магазина</p>
        <p class="fs-4 text-center">Александр Александрович</p>
        <p class="fs-4 text-center">Телефон: 89137978949</p>
        <p></p>
        <p></p>
        <p class="fs-4 text-center">По тренировочному процессу</p>
        <p class="fs-4 text-center">Константин Владимирович</p>
        <p class="fs-4 text-center">Телефон: 89039991923</p>
        <p></p>
        <p></p>
        <p class="fs-4 text-center">Email:</p>
        <p class="fs-4 text-center">Адрес: г.Новосибирск, Ул Большевистская, 92</p>
    </div>
</div>
<br><br>
{% endblock %}