{% extends 'base.html' %}
{% load static %}
{% block title %}Сайт ИСБ{% endblock %}
{% block content %}
{% load thumbnail %}

<div class="container mt-3">
    <br>
    <h2 class="text-center">Доставка и оплата</h2>
    <br>
    <div class="row container">
        <p>Покупатель может согласиться с покупкой путем перевода денежных средств на счет организации запросить индивидуальный счет</p>
<p>Оплатив его любым удобным способом:</p>
<p>- в отделении банка</p>
<p>- банк онлайн</p>
<p>- просканировав QR код</p>
<p></p>
<p>Доставка осуществляется за счет покупателя в любую страну и город, любой транспортной компанией
(рекомендуемая - почта России и СДЕК).</p>
<p>Отправная точка - город Новосибирск.</p>
<p></p>
<p>Для любителей оптовых скидок</p>
<p>При заказе от 10, 15 и больше позиций, проговаривается индивидуальная скидка.</p>
    </div>
</div>
<br><br>
{% endblock %}