{% extends "base.html" %}
{% load static %}
{% block title %}Сайт ИСБ{% endblock %}
{% block content %}
{% load thumbnail %}

    <div class="container">
        <div class="row flex stify-content-between">
            <div class="img2 col-lg-5 mt-5">
                {% thumbnail product.image "350x400" crop="center" upscale=True as im %}
                <img src="{{ im.url }}" width="300px" height="300px" alt="">
                {% endthumbnail %}
            </div>
            <div class="productdetail col-lg-5">
                <h1 style="font-family: Georgia; font-size: 50px;">{{ product.title }}</h1>
                <h5>{{product.price}} Рублей</h5>
                <br><h4>Описание товара</h4>
                <ul class="fs-5" style="font-family: Rajdhani;">
                    <li>{{product.description}}</li>
                </ul>
                <form action="/add_to_cart" class="d-inline">
                    <input type="hidden" name="prod_id" value={{product.id}} />
                    <button type="submit" class="btn btn-primary shadow px-5 py-2">Добавить в корзину</button>
                </form>
                {% comment %} <a href="{% url "showcart" %}" class="btn btn-warning shadow px-5 py-2 ms-4">Купить сейчас</a> {% endcomment %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}