{% extends 'base.html' %}
{% block title %}{{ shop.title | truncatechars:30 }}{% endblock %}
{% block content %}
{% load thumbnail %}
{% load static %}
<link type="text/css" href="{% static 'css/shop_detail.css' %}" rel="stylesheet" />
<br>
<hr class="featurette-divider">
<div class="container">
    <div class="post">
        <div class="post-image">
            {% thumbnail shop.image "250x300" crop="center" upscale=True as im %}    
            <img class="card-img my-2" src="{{ im.url }}">
            {% endthumbnail %}
        </div>
        <div class="post-content">
            <div class="post-header">
                <h1>{{ shop.title }}</h1>
                <div class="post-meta">
                    <span class="price">{{ shop.price }} Рублей</span>
                    <br>
                    <form action="{% url 'cart:cart_add' shop.id %}" method="post">
                        {{ cart_product_form }}
                        {% csrf_token %}
                        <input type="submit" value="В корзину">
                    </form>
                </div>
            </div>
            <p>{{ shop.description }}</p>
        </div>
    </div>
</div>
</br>
</br>
</br>
</br>
</br>
</br>
</br>
</br>
{% endblock %}